@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@keyframes rotation {
    0% {transform: rotate(-270deg);}
    100% {transform: rotate(0deg);}  
}
@keyframes animation {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes apparition {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

* {
    margin: 0px;
    
}

body {
    margin: 0px;
    font-family:'Roboto', sans-serif;
}

/* Partie 1 OhMyFood */

.head {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.card {
    font-family: 'Shrikhand', cursive;
    padding-right: 120px;
}

.card_arrow {
   margin-top: 15px;
   padding-left: 5px;
   padding-right: 35px;
   font-size: 20px;
}

 
a:visited {
    color: #000000;
}

.fa-solid.fa-arrow-left:hover {
    transform: scale(1.2);
} 


/* Partie 2 titre 2 */

.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.container h2 {
    font-family: 'Shrikhand', cursive;
    padding-left: 14px;
}

.container_titre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    background-color: white;
    border-radius: 20px 20px 0 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-top: -21px;
}

.transparent {
    margin-right: -32px;
    font-size: 30px;
}


.purple {
   margin-right: 30px;
   font-size: 35px;
   color: transparent;
   background: linear-gradient(#9356DC, #FF79DA);
   background-clip: text;
   -webkit-background-clip: text;
   opacity: 0;
   transition: all 100ms ease-in-out;
}

.purple:hover {
    opacity: 1;
    transform: translateY(-50%);
    transform: scale(1.2);
} 


.container_image img {
    width: 100%;
    object-fit: cover;
}


/* partie 3 cartes */

.menu-carte {
    padding: 1rem;
    background-color: #f6f6f6;
    cursor: pointer;
}

.menu-carte h3 {
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.menu-carte h3::after {
    content: "";
    position: absolute;
    height: 0.25rem;
    width: 3.25rem;
    background-color: #99e2d0;
    top: 20px;
    left: 1px;
}

.carte {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 16px;
}

.menu {
    display: flex;
    border-radius: 14px;
    background: white;
    box-shadow: -1px 0px 0px 4px rgb(240, 239, 239) ;
    align-items: flex-end;
    margin-right: 5px;
    justify-content: space-between;
    overflow: hidden;
}

.icone {
    margin-left: 10px;
    margin-right: 10px;
}

.menu {
    animation: apparition 10s;
}

.delai1 {
    animation-duration: 5s;
}

.delai2 {
    animation-duration: 6s;
}

.delai3 {
    animation-duration: 7s;
}

.delai14 {
    animation-duration: 8s;
}

.delai5 {
    animation-duration: 9s;
}

.delai6 {
    animation-duration: 10s;
}

.delai7 {
    animation-duration: 11s;
}

.delai8 {
    animation-duration: 12s;
}

.delai9 {
    animation-duration: 13s;
}

.choix {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.choix h4, p {
    padding-bottom: 10px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icoche {
    display: flex;
	flex-wrap: nowrap;
	align-items: center;
	align-content: stretch;    
}

.rotation-icone {
    background-color: #99e2d0;
    border-radius: 0 5px 5px 0;
    margin-right: -60px;
    width: 60px;
    height: 70px;
    transition: margin-right 0.5s;
}

.rotation-icone .fa-check {
    color: white;
    margin-left: 15px;
    color: #99e2d0;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    align-items: center;
    margin-top: 22px;
}


.menu:hover .rotation-icone {
    margin-right: 0;
    
}

.menu:hover .icone {
    animation-duration: 1s;
    animation-name: rotation;
}

.prix, strong {
    margin-top: 38px;
}


/* Partie 6 Boutton */

.commander {
    text-align: center;
}

.commander button {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 4px 3px 17px -1px #353535;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
} 

.commander button:hover {
    transform: scale(1.03);
    transition: all 300ms;
    opacity: 0.8;
    box-shadow: 4px 3px 17px -1px #000000;
    cursor: pointer;
}



/* Partie 7 Footer */

.pied {
    background-color: #353535;
    padding-bottom: 1px;
}

.titre_pied {
    font-family: 'Shrikhand', cursive;
    text-align:left;
    color: white;
    margin-left: 22px;
    margin-bottom: 6px;
    padding-top: 10px;
}


.pied p {
    color: white;
    
}

.alignement {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
}

.part {
    margin-left: 18px;
}

.proposer {
    margin-left: 6px;
}

.mention {
    margin-left: 18px;
}

a:link {
    text-decoration: none;
    color: white;
}



