@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');


body {
    margin: 0px;
}

/* Partie 1 OhMyFood */
header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin-top: -20px;
}

/* image */
.image {
    background-image: url(../images/restaurants/M1.jpg);
    background-position-y: -6px;
    width: 100%;
    height: 223px;
    margin-top: -20px;
    background-size: cover;
}

.image p {
    color: transparent;
}

/* La palette du goût */
.container h2 {
    font-family: 'Shrikhand', cursive;
}

.palette {
    display: flex;
    background-color: white;
    border-radius: 20px 20px 0 0;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    margin-top: -20px;
}

i.fas.fa-heart {
    color: transparent;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    opacity: 0;
    transition: all 100ms ease-in-out;
    margin-right: 46px;
}

i.fas.fa-heart:hover {
    opacity: 1;
    transform: translateY(-50%), scale(1.2);
}

i.far.fa-heart {
    margin-right: -21px;
}

/* partie cartes */

.menu-carte {
    padding: 1rem;
    margin: -7px;
    background-color: #f6f6f6;
}

.carte {
    background: white;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 10px;
}

.entrees {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

p.prix {
    margin-left: auto;
    margin-top: 21px;
    font-weight: 900;
}

.coche .fas {
    margin-bottom: 17px;
    background-color: #99e2d0;
    margin-right: -3rem;
    border-radius: 0 1rem 1rem 0;
    transition: margin-right 0.5s;
    background-color: #99e2d0;
    color: white;
    border-radius: 0 20 20 0;
    place-items: center;
}

/* .fas fa-check {
    color: #99e2d0;
    place-items: center;
    border-radius: 50%;
    background-color: white;
} */

.entrees:hover .coche .fas {
    margin-right: 0;
}

.entrees {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px lightgray ;
}



/* Partie 6 Footer */

.pied {
    background-color: #353535;
    margin-top: 4px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.pied img {
    width: 40%;
    padding-top: 41px;
    color: white;
}

.pied p {
    color: white;
}

.alignement {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: -15px;
}

.alignement span {
    margin-left: 7px;
}

a:link {
    text-decoration: none;
    color: white;
}

@media(max-width 760px) {

    .carte {
        grid-template-columns: repeat(1, 1fr);
    }
}